@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F59E0B;
  --background: #0F172A;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--background);
  color: #F8FAFC;
}
